/* CSS Styles for Centering and Animation */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .text {
    animation: fadeIn 2s ease-in;
  }

  body {
    background: linear-gradient(135deg, #c7ecee, #a2d9ce);
    background-size: 400% 400%;
    animation: gradientTransition 10s ease infinite;
  }
  
  @keyframes gradientTransition {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
    100% {
      opacity: 0;
      transform: scale(0.8);
    }
  }
  